<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasty Tales</title>
    <link rel="icon" type="image/x-icon" href="assets\favicon_io (1)\favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles/style.css">
</head>
<body>
  <%- include("./partials/header.ejs") %>
      
      <div class="container">
        <div id="carouselExample" data-bs-ride="carousel" class="carousel slide"style="
    margin-top: 10px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/carousel/img1.avif" class="image d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h5>Discover the Best Recipes</h5>
                <p>Explore our collection of delicious and easy-to-make recipes.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/carousel/img2.avif" class="image d-block w-100 " alt="...">
              <div class="carousel-caption d-md-block">
                <h5> Join Our Cooking Community</h5>
                <p> Share your favorite recipes and get inspired by others.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/carousel/img3.avif" class="d-block w-100 image" alt="...">
            <div class="carousel-caption d-md-block">
              <h5>Weekly Meal Plans</h5>
              <p> Simplify your life with our curated meal plans.</p>
            </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>





      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <a href="Indian_Cuisine" class="noDeco">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/index_images/Indian.avif" class="cuisine" alt="">
                <div class="card-body">
                  <h2 class="cuisine_head">Indian Cuisine</h2>
                  <p class="card-text cuisine_desc">Indian cuisine features vibrant flavors, aromatic spices, and diverse dishes like curries, breads, and biryanis, offering many vegetarian and vegan options.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <form action="/Indian_Cuisine" method="get"> -->
                        <button type="submit" value="Indian_Cuisine" class="btn btn-sm btn-primary cuisine_btn_ind">Spice Up Your Life</button>
                      <!-- </form> -->
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-body-secondary">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="Chineese_Cuisine" class="noDeco">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/index_images/Chineese.avif" class="cuisine" alt="">
                <div class="card-body">
                  <h2 class="cuisine_head">Chineese Cuisine</h2>
                  <p class="card-text cuisine_desc">Chinese cuisine balances flavors and textures with dishes like dim sum, fried rice, and stir-fries, using staples like rice, noodles, and vegetables.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <form action="/Chineese_Cuisine" method="get"> -->
                        <button type="submit" class="btn btn-sm btn-primary cuisine_btn_chn">Taste the Tradition</button>
                      <!-- </form> -->
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-body-secondary">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="American_Cuisine" class="noDeco">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/index_images/American.avif" class="cuisine" alt="">
                <div class="card-body">
                  <h2 class="cuisine_head">American Cuisine</h2>
                  <p class="card-text cuisine_desc">American cuisine includes comfort foods like burgers and mac and cheese, regional specialties, and diverse flavors influenced by various cultures.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <form action="/American_Cuisine" method="get"> -->
                        <button type="submit
                        " class="btn btn-sm btn-primary cuisine_btn_usa">Savor American Classics</button>
                      <!-- </form> -->
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-body-secondary">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="Italian_Cuisine" class="noDeco">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/index_images/Italian.avif" class="cuisine" alt="">
                <div class="card-body">
                  <h2 class="cuisine_head">Italian Cuisine</h2>
                  <p class="card-text cuisine_desc">Italian cuisine emphasizes simplicity and freshness with dishes like pasta, pizza, and gelato, using high-quality ingredients and traditional recipes.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <form action="/Italian_Cuisine" method="get"> -->
                        <button type="submit" class="btn btn-sm btn-primary cuisine_btn_itly">Indulge in Italy</button>
                      <!-- </form> -->
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-body-secondary">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="Healthful_Eats" class="noDeco">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/index_images/Healthy.jpg" class="cuisine" alt="">
                <div class="card-body">
                  <h2 class="cuisine_head">Healthful Eats</h2>
                  <p class="card-text cuisine_desc">Healthful eats promote wellness by emphasizing nutritious foods like fruits, vegetables, whole grains, and lean proteins.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <form action="/Healthful_Eats" method="get"> -->
                        <button type="submit" class="btn btn-sm btn-primary cuisine_btn_dsrt">Discover Sweet Treats</button>
                      <!-- </form> -->
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-body-secondary">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="Sweet_Cafe_Delights" class="noDeco">
            <div class="col">
              <div class="card shadow-sm">
                <img src="assets/index_images/Desserts.avif" class="cuisine" alt="">
                <div class="card-body">
                  <h2 class="cuisine_head">Sweet Café Delights</h2>
                  <p class="card-text cuisine_desc">Milkshakes are creamy, customizable treats made with ice cream and milk, available in flavors like chocolate, vanilla, and strawberry, topped with whipped cream.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <form action="/Sweet_Cafe_Delights" method="get"> -->
                        <button type="submit" class="btn btn-sm btn-primary cuisine_btn_mlk">Sip the Bliss</button>
                      <!-- </form> -->
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-body-secondary">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
          </a>
            <!-- <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>


<%- include("partials/footer.ejs") %>



    <script>
      function navigateToCuisine(cuisine) {
          const encodedCuisine = encodeURIComponent(cuisine);
          const form = document.getElementById('cuisineForm');
          form.action = `/cuisine/${encodedCuisine}`;
          form.submit();
      }
      </script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playball&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      
</body>
</html>